<footer class="footer">
  <div class="footer-container">
    <!-- Sección izquierda -->
    <div class="footer-left">
      <img width="400px" src="/logo.png" alt="">
    </div>

    <!-- Sección derecha -->
    <div class="footer-right">
      <h5>Contáctanos</h5>
      <p>Av. 14 de Septiembre</p>
      <p>Obrajes calle #2</p>
      <p>(591)-2-2179300, Cel 75232880</p>
    </div>
  </div>

  <!-- Línea separadora -->
  <hr />

  <!-- Derechos reservados -->
  <div class="footer-bottom">
    <p>TODOS LOS DERECHOS RESERVADOS | LLAMITASPORT</p>
  </div>
</footer>
