/* NAVEGACION PRINCIPAL **/

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ff5722; /* Rojo más intenso para contraste */
  --secundario: #c62828; /* Rojo oscuro como fondo */
  --gris: #757575;
  --grisClaro: #f1f1f1; /* Gris muy claro para contrastar */
  --acento: #d56515; /* Amarillo dorado como acento */
}

.nav-bg {
  background-color: var(--secundario);
  margin-left: -10px;
  margin-right: -8px;
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secundario); /* Fondo de la navegación en rojo oscuro */
}

@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Alinea los elementos en el centro */
  }
}

.navegacion-principal a {
  display: block;
  text-align: center;
  color: var(--blanco); /* Color blanco para el texto */
  text-decoration: none;
  font-size: 1.6rem; /* Reducción del tamaño de fuente para mejorar legibilidad */
  font-weight: bold;
  padding: 1rem 2rem; /* Aumentado padding para un área de clic más grande */
  transition: background-color 0.3s ease, color 0.3s ease; /* Añadido efecto de transición */
}

.navegacion-principal a:hover {
  background-color: var(--acento); /* Amarillo dorado como hover */
  color: var(--oscuro); /* Cambio a color oscuro para contraste */
  border-radius: 5px; /* Bordes redondeados para un toque moderno */
}

.navegacion-principal a:active {
  background-color: var(--primario); /* Rojo cuando el enlace está activo */
  color: var(--blanco); /* Blanco cuando se hace clic */
}

/* Estilos adicionales para la mejora de la estética */
@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 23rem;
    column-gap: 1rem;
  }
}

