  <!-- Logo -->
   <section>
      <div class="logo-container">
        <img width="150px" src="assets/logo.png" alt="Logo" class="logo" />


      </div>
  </section>

  <div class="nav-bg"> 
    <nav class="navegacion-principal contenedor">
      <!-- Enlaces de navegación -->
        <a routerLink="/inicio" class="nav- link" routerLinkActive="active">Inicio</a>
        <a routerLink="/inventario" class="nav-link" routerLinkActive="active">Inventario</a>
        <a routerLink="/pedidos" class="nav-link" routerLinkActive="active">Pedidos</a>
        <a routerLink="/contacto" class="nav-link" routerLinkActive="active">Contacto</a>
    </nav>
</div>
