<section class="contact-section">
  <div class="contact-container">
    <!-- Información de contacto -->
    <div class="contact-info">
      <h2>CONTÁCTATE CON NOSOTROS</h2>
      <p><i class="fas fa-phone-alt"></i> +591929292</p>
      <p><i class="fas fa-envelope"></i> ucb.com</p>
      <p><i class="fas fa-map-marker-alt"></i> Obrajes</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- Formulario de contacto -->
    <div class="contact-form">
      <form action="#">
        <div class="form-group">
          <input type="text" placeholder="Nombre" required />
          <i class="fas fa-user"></i>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Correo electrónico" required />
          <i class="fas fa-envelope"></i>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Asunto" required />
          <i class="fas fa-edit"></i>
        </div>
        <div class="form-group">
          <textarea placeholder="Mensaje"></textarea>
        </div>
        <button type="submit" class="btn">Enviar mensaje</button>
      </form>
    </div>
  </div>
</section>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<!--sergio-->
  